#popupBody{
    width: 480px;
    height: auto;
}
table{
    border-collapse: collapse;
}
table, thead,th {
    width: 80%;
    height: auto;
    border: 2px solid black;
}
th{
    width: 25%;
}
#weekTrackTable{
    font-size: 12px;
}